
/* first page html*/
/*first header*/
.head {
	position: sticky;
	top: 0;
}
@media screen and (max-width: 800px) {
  #listhome li {
    float: none;
    width: 100%;
    display: block;
  }
  .head {
  	position: relative;
  	margin: 0;
  }

}



#listhome {
	list-style-type: none;
	overflow: hidden;
	background-color: indigo;
	margin: 0;

}

 a.edua {
 	color: yellow;
	text-decoration: none;
}


#listhome li{
	float: left;
	padding: 12px 19px;
	display: inline-block;
	border-right: 1px solid white;
	margin: 0;

}

#listhome li:hover {
background-color: midnightblue;
}
.edu-content{
	display: none;
	background-color: indigo;
	position: absolute;
	min-width: 180px;
	box-shadow: 0px 12px 16px 1px rgba(0, 0, 0, 0.2);
	z-index: 1;
	opacity: 0.8;
}

.edu-content a{
	color: white;
	padding: 12px 16px;
	text-align: center;
	display: block;
	text-decoration: none;
	font-size: 20px;
}
.edu-content a:hover{
	color: pink;
	background-color: black;
}
.edu:hover .edu-content {
	display: block;
}



/* up to this header*/
#h1 {
	color:white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue;, 0 0 5px darkblue ;
	background:navajowhite; 
	text-align:center;
	border-radius: 6px;
	font-size: 80px;

}

div.hpc{
	font-size: 30px
	text-shadow: 2px 2px pink;
	text-align: center;
	font-style: italic;
	border-radius: 30px;
	border-style: inset;
	border-width: 15px;
	padding: 10px;
	margin: 5px;
	font-weight: bold;
	
}

div.h3{
	font-size: 2em;
	text-align:center;
	font-style: italic;
	border-radius: 30px;
	border-style: inset;
	border-width: 15px;
}

.p1{
	color: blue;
}
.p2{
	color: blue;
}
.p3{
	color: pink;
	background: grey;
	border-radius: 15px;
}

.link{
	color: white;
	text-decoration-line: none;
	border-radius: 10px;
	background-color: brown;
	font-size: 25px;
}

.link:link{
	color: golden;
}
.link:visited{
	color: white;
}
.link:hover{
	color: floralwhite;
	background: indigo; 
	font-size: 30px;
	cursor: pointer;
	transition: .4s ease-out;
}
.link:active{
	color: yellow;
}

 ul{
	
	
		border-radius: 20px;
}
ul li{
	background-color: indigo;
	color: yellow;
	text-align: center;
	border-radius: 20px;

}




/*    */
body{
	font-size:30px;
	background-image: url('hp3.jpg'); 
	background-repeat: no-repeat; 
	background-size: contain; 
	background-attachment: fixed;"
}
h1,h3{
	text-align: center;
	border-radius: 6px;
	color: darkgoldenrod;
	border-style: inset;
	border-width: 10px;
}
img{
	border-width: 10px;
	border-style: inset;
	border-radius: 15px;
	max-width: 100%;
}

button:hover{
	color: deeppink ;
	background: indigo;

}
button{
	font-size: 30px;
	border-radius: 10px;
			border-style: inset;
			border-width: medium; 
}


div.q{
	border: 1px solid #ccc;
	width: 200px;
	margin-right: 25px;
}

div.q img{
	width: 100%;
	height: auto;
}
div.img{
	border: 1px solid #ccc;
	width: 400px;
	float: left;
	margin-right: 25px;
}

div.img img{
	width: 100%;
	height: auto;
}



/* style for footer*/
.footer{
	padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
